{% extends "base.html" %}
{% block title %}
Freddit - New subreddit
{% endblock title %}

{% block content %}
<div class="container" style="padding: 0px;">
    {% for message in get_flashed_messages(with_categories=True) %}
    <div class="alert alert-{{ message[0] }}" style="width: 104%; font-weight: bolder;">
        {{ message[1] }}
    </div>
    {% endfor %}


        <div class="jumbotron user-input-form"  style="padding: 0px;">
        <form method="post" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="row">
            <div class="col-lg">
                <img src="{{ url_for('static', filename='images/signup.jpg') }}" width="100%" height="100%" style="border-top-left-radius: 10px; border-bottom-left-radius: 10px;">
            </div>

            <div class="col-lg" style="padding: 50px;">
                <br>
                <h3 class="brand"><img src="{{ url_for('static', filename='images/icon.png') }}" width="32" height="32" style="vertical-align: middle;"> <text style="vertical-align: middle;">Freddit</text></h3>
                <p><small class="text-muted brand">Lets get you going!</small></p>
                <p><small class="text-muted" style="font-weight: bold;">Creating a new subfreddit</small></p>
                <br><br>

                <div class="name">
                    {% if form.name.errors %}
                        {{ form.name(placeholder="Subfreddit name", class="input-text is-invalid", style="width:100%; border: 1.5px solid red;") }}
                        <div class="invalid-feedback">
                            {% for error in form.name.errors %}
                                <p style="font-weight: bolder;">{{ error }}</p>
                            {% endfor %}
                            <br><br>
                        </div>
                    {% else %}
                    {{ form.name(placeholder="Subfreddit name", class="input-text", style="width:100%;") }}
                    <br><br>
                    {% endif %}
                </div>
            
                <div class="description">
                    {% if form.description.errors %}
                        {{ form.description(placeholder="Subfreddit description", class="input-text is-invalid", style="width:100%; border: 1.5px solid red;") }}
                        <div class="invalid-feedback">
                            {% for error in form.description.errors %}
                                <p style="font-weight: bolder;">{{ error }}</p>
                            {% endfor %}
                            <br><br>
                        </div>
                    {% else %}
                    {{ form.description(placeholder="Subfreddit description", class="input-text", style="width:100%;") }}
                    <br><br>
                    {% endif %}
                </div>

                <div class="picture">
                    {% if form.picture.errors %}
                        {{ form.picture(placeholder="Subfreddit banner", class="form-control is-invalid", style="width:100%; border: 1.5px solid red;", id='banner') }}
                        <div class="invalid-feedback">
                            {% for error in form.picture.errors %}
                                <p style="font-weight: bolder;">{{ error }}</p>
                            {% endfor %}
                            <br><br>
                        </div>
                    {% else %}
                    {{ form.picture(placeholder="Subfreddit banner", class="form-control", style="width:100%;", id='banner') }}
                    <br><br>
                    {% endif %}
                </div>

                <button type="submit" class="input-submit" style="float: right; margin-right: 0px; font-weight: bold;" title="Who-hoo! lets get you signed up!">
                    Create &nbsp; <i class="fas fa-chevron-right"></i>
                </button>
            </div>
        </div>
        </form>
    </div>
    <br><br><br>
</div>
{% endblock content %}
